:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: aliceblue;
}
.header_style {
  text-align: center;
  color: white;
  background-color: rgb(49, 108, 235);
  padding: 15px;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.637);
}

.weatherSearch {
  margin: 0 10px;

}

#locationSearchBtn {
  float: right;
  margin-top: 5px;
}

h2{
  font-size: 20px;
  margin: 0;
  padding: 5px 0;
  margin-block-start: 0;
  margin-block-end: 0;

}

ul { 
  display: flex;
  margin: 5px 0 0 0;
}

.skydescription {
  margin-top: 5px;
}

li {
  margin-left: 7px;
  list-style: none;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 5px;
  
}

.currentWeatherCard {
  border: 3px solid black;
  padding:5px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: rgba(0, 85, 182, 0.493);
}

#forecastContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  align-items: baseline;
  align-content: center;
}

.forecastCard {
  padding: 5px;
  border-radius: 18px;
  background-color: rgba(100, 175, 218, 0.295);
  box-shadow: 0 0 7px rgba(139, 139, 139, 0.445);
}



h3 {
  margin: 6px 0 0 0;
}

@media screen and (max-width: 881px) {
  #forecastContainer {
      font-size: small;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 5px;
      align-items: baseline;
      align-content: center;
  }
  
}

@media screen and (max-width: 571px) {
  .layout {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: stretch;
}
#forecastContainer {
  margin-top: 15px;
}
  
}